# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.whl

# SQLite database
*.db
*.sqlite3

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and system files
*.log
*.bak
*.swp

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Pytest cache
.pytest_cache/

# Environment variables
.env